<script src="https://cdn.bootcss.com/react/15.6.0/react.min.js"></script>
<script src="https://cdn.bootcss.com/react-dom/15.6.0/react-dom.min.js"></script>
<script src="https://cdn.bootcss.com/react-router-dom/4.2.2/react-router-dom.min.js"></script>
<script src="https://cdn.bootcss.com/echarts/4.0.4/echarts.min.js"></script>
<script src="https://cdn.bootcss.com/redux/3.7.2/redux.min.js"></script>
<script src="https://cdn.bootcss.com/moment.js/2.22.1/moment.min.js"></script>