#main-layout {
  height: 100%;
  .header-user {
    float: right;
    margin-right: 24px;
    cursor: pointer;
    transition: all 0.3s;
    p {
      margin-bottom: 0;
      padding: 0 10px;
    }
    &.dropdown-header {
      background: #e6f7ff;
    }
  }
  .skeleton-header {
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
    z-index: 9;
  }
}
#main-layout .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
  }
  
#main-layout .trigger:hover {
  color: #1890ff;
}

#main-layout .logo {
  height: 32px;
  margin: 16px;
  text-align: center;
  background: #011529;
  overflow: hidden;
  h2 {
    color: #fff;
    font-size: 20px;
    font-family: "微软雅黑";
    font-weight: 500;
    display: inline-block;
  }
}
