.line-chart-wrapper {
    padding: 0 5px;
    margin-bottom: 10px;
    .checkbox-wrapper {
        text-align: center;
        padding-top: 20px;
    }
    #lineChart {
        width: 100%;
        height: 400px;
    }
}